<h1><%= t('twitter.title.edit') %></h1>

<%= render 'form' %>

<%= link_to t('action.show'), @crawler_twitter, class: 'btn btn-info' %> |
<%= link_to t('link.back'), crawler_twitters_path, class: 'btn btn-default' %>
